@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* background-color: rgb(244, 247, 250); */
}

a {
  text-decoration: none;
}

.layout {
  display: flex;
  flex-direction: column;
}
